.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
  }
  
  .flex-item {
    background-color: #ccc;
    padding: 10px;
    margin: 5px;
  }
  